*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mydiv ul {
    margin: 3%;
    padding: 0;
    display: block;
}
 .mydiv ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
display: -webkit-box;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
li:last-child{
    background: #f9f9f9;
}


/* Darker background-color on hover */
.mydiv ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.remove {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px
}

.remove:hover {
  background-color: #f44336;
  color: white;
}
/*input{
    display:none;
}*/

input[type=checkbox]+label{
  
  color: black;
  width: 100%;
}
input[type=checkbox]:checked+li{
  background-color: #888;
  color: #fff;
  text-decoration: line-through;
  
}
.myinput {
    /* margin: 20px 186px 27px -20px; */
    float: left;
    /* color: red; */
    margin-top: 14px;
}

